{% extends "ClarolineCoreBundle:Badge:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'my_badges' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% trans_default_domain "badge" %}

{% block bodyClasses %}{{ parent() }} body-badges{% endblock %}

{% block content %}
    <div class="row"><div class="panel panel-default">
    {{ macros.flashBox() }}
        {# OR PROFILE WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopAsideBlockWidget',
            { 'renderingContext': 'badges' }
        ) %}    
        <div class="col-xs-9 col-md-9">
            <div class="panel-heading">
                <h2 class="slrn-content-main-title">
                    {{ 'my_badges'|trans({}, 'platform') }}
                </h2>
            </div>
                <div class="badge_management_container">

                    <div class="alert alert-danger" id="error_container" style="display: none">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <p></p>
                    </div>
{#
                    {% for moocname, badgesPerMooc in badgesPerMoocs %}
                        {% set mooc = badgesPerMooc.mooc %}
                        {% set userBadges = badgesPerMooc.userBadges %}

                        <h3>
                        {% if moocname == 'nomooc' %}
                            Badges Solerni
                        {% else %}
                            {{moocname}} <img src='' height=25 width="25" />
                        {% endif %}
                        </h3>
                        <hr>

                        <div class="row">
                            {% for userBadge in userBadges %}
                                {% set badge = userBadge.badge %}
                                <div class="col-xs-3 text-center">
                                    <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}"/>
                                    <p class="badge_name">{{ badge.name }}</p>
                                </div>
                            {% endfor %}
                        </div>


                    {% endfor %}
#}


                    {%  if userBadges is not empty %}
                    <ul class="nodes badge_list list-unstyled well">
                        {% for userBadge in userBadges %}
                            {% set badge = userBadge.badge %}
                            {% set dataImage = '<img class="badge_image_mini" src="' ~ asset(badge.webPath) ~ '" alt="' ~ badge.name ~ '" />' %}
                            <li class="node-thumbnail badge_container" data-image="{{ dataImage }}" data-id="{{ badge.id }}">
                                {% if userBadge.isExpired %}
                                    <span class="expired icon-exclamation-sign" data-title="Badge expiré"
                                           data-toggle="tooltip" data-placement="top" data-container="body"></span>
                                {% endif %}
                                <a href="{{ path('claro_profile_view_badge', {'slug': badge.slug}) }}" title="{{ badge.name }}" class="thumbnail">
                                    <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}"/>
                                    <p class="badge_name">{{ badge.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {{ 'no_badges'|trans({'%url%' : path( 'solerni_static_page', { 'name': 'cms_faq' } )}, 'badge') | raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.effect.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.effect-highlight.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.droppable.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.draggable.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/profile.js') }}'></script>
{% endblock %}

