{% extends "ClarolineCoreBundle:Badge:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'my_badges' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% set detailedBadges = is_granted('ROLE_ADMIN') or is_granted('ROLE_WS_CREATOR') %}
{% for role in user.roles %}
    {% if role matches '/^ROLE_WS_MANAGER_*/' %}
        {% set detailedBadges = true %}
    {% endif %}
{% endfor %}

{% trans_default_domain "badge" %}

{% block bodyClasses %}{{ parent() }} body-badges{% endblock %}

{% block content %}

    <div class="row"><div class="panel panel-default">
    {{ macros.flashBox() }}
        {# OR PROFILE WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopAsideBlockWidget',
            { 'renderingContext': 'badges' }
        ) %}    
        <div class="col-xs-9 col-md-9">
            <div class="panel-heading">
            {% if badgesPerMoocs is not empty %}
                <div class="dropdown pull-right">
                    <a data-toggle="dropdown" href="#" class="btn btn-gris slrn-profile-button" role="button">
                        <p id="mooc_select_header">{{ 'badges_tous'|trans({}, 'platform') }}</p><i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    	 <li role="presentation">
                    	 	<a role="menuitem" class="mooc_select" value="all">
								{{ 'badges_tous'|trans({}, 'platform') }}
		                 	</a>
                    	 </li>
	                    {% for moocname, badgesPerMooc in badgesPerMoocs %}
		                     <li role="presentation" >
			                    {% if moocname == 'nomooc' %}
				                    <a role="menuitem" class="mooc_select" value="m_{{hashPerMoocs[moocname]}}">
		                                {{ 'badges_nomooc'|trans({}, 'platform') }}
		                            </a>
		                        {% else %}
				                    <a role="menuitem" class="mooc_select" value="m_{{hashPerMoocs[moocname]}}">
		                                {{moocname}}
		                            </a>
		                        {% endif %}
	                        </li>
	                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
                <h2 class="slrn-content-main-title">
                    {{ 'my_badges'|trans({}, 'platform') }}
                </h2>
            </div>
            <hr/>
                <div class="badge_management_container">

                    <div class="alert alert-danger" id="error_container" style="display: none">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <p></p>
                    </div>

                    {% if badgesPerMoocs is empty %}
                        {{ 'no_badges'|trans({'%url%' : path( 'solerni_static_page', { 'name': 'cms_faq' } )}, 'badge') | raw }}
                    {% endif %}

                    {% for moocname, badgesPerMooc in badgesPerMoocs %}
                        {% set mooc = badgesPerMooc.mooc %}
                        {% set userBadges2 = badgesPerMooc.userBadges %}
                        <div class='mooc_wrapper' id='m_{{hashPerMoocs[moocname]}}'>
                            <h3>
                            {% if moocname == 'nomooc' %}
                                {{ 'badges_nomooc'|trans({}, 'platform') }}
                            {% else %}
                                {{moocname}} <img class='pull-right' src='{{ asset(mooc.owner.logoWebPath) }}' height=37 />
                            {% endif %}
                            </h3>
                            <hr/>

                            <div class="row">
                                {% for userBadge in userBadges2 %}
                            {% if loop.index0 % 4 == 0 and loop.index0 != 0 %}
                            </div>
                            <div class="row">
                            {% endif %}
                                    {% set badge = userBadge.badge %}
                                    <div class="col-xs-3 text-center slrn-mesbadges-badge badge-type-{% if badge.isSkillBadge %}competence {% elseif badge.isKnowledgeBadge %}connaissance{% else %}solerni{% endif %}">
                                        <span class="badge_span_image" data-toggle="modal" data-target="#myModal{{badge.id}}">
                                            <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" data-toggle="tooltip" data-placement="top" title="<strong>{{ badge.name }}</strong><br/>BADGE {% if badge.isSkillBadge %}DE COMPETENCE {% elseif badge.isKnowledgeBadge %}DE CONNAISSANCE{% else %}SOLERNI{% endif %}" data-html='true' />
                                        </span>
                                        <p class="badge_name" data-toggle="modal" data-target="#myModal{{badge.id}}">{{ badge.name }}</p>
                                    </div>

                                    <div class="modal fade" id="myModal{{badge.id}}" tabindex="-1" role="dialog" aria-labelledby="{{ 'badges_voir_details'|trans({}, 'platform') }}" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">

                                          <div class="modal-body">
                                            <div class='row'>
                                                <div class="col-xs-3">
                                                    <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" />
                                                </div>

                                                <div class="col-xs-9">
                                                    
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4>{{ 'badges_badge'|trans({}, 'platform') }} &laquo; {{ badge.name }} &raquo;</h4>
                                                    <p><strong>{{ 'badges_attribue_le'|trans({}, 'platform') }}</strong> {{ userBadge.issuedAt|date('date_format'|trans({}, 'platform'))|raw }}{# {{ 'badges_by'|trans({}, 'platform') }} {{userBadge.issuer.lastname}}#}</p>
                                                    {% if detailedBadges %}
                                                    <p><strong>{{ 'badges_name'|trans({}, 'platform') }} :</strong> {{ badge.name }}</p>
                                                    <p><strong>{{ 'badges_version'|trans({}, 'platform') }} :</strong> {{ badge.version }}</p>
                                                    {% endif %}
                                                    <p><strong>{{ 'badges_description'|trans({}, 'platform') }} :</strong> {{ badge.description }}</p>
                                                    <p><strong>{{ 'badges_critere'|trans({}, 'platform') }} :</strong> {{ badge.criteria|raw }}</p>
                                                    {% if detailedBadges %}
                                                        <p><strong>{{ 'badges_actions'|trans({}, 'platform') }} :</strong></p>
                                                        {% set nbRules = badge.rules|length %}
                                                        {% if 0 < nbRules %}
                                                            {% set validatedRules = validatedRulesPerBadges[badge.id] %}

                                                            {% if 0 == validatedRules.validRules %}
                                                                <div class="alert alert-danger">{{ 'badge_awarding_rules_not_respected'|trans({}, 'badge') }}.</div>
                                                            {% elseif validatedRules.validRules < nbRules %}
                                                                <div class="alert alert-info">{{ 'badge_awarding_some_rules_respected'|trans({'%nbvalidRules%': validatedRules.validRules, '%nbRules%': nbRules}, 'badge') }}.</div>
                                                            {% else %}

                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'action'|trans({}, 'platform') }}</th>
                                                                            <th>{{ 'date'|trans({}, 'platform') }}</th>
                                                                            <th>{{ 'resource'|trans({}, 'platform') }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for validatedRule in validatedRules.rules %}
                                                                        {% for validatedLog in validatedRule.logs %}
                                                                            {% set log    = validatedLog.log %}
                                                                            {% set action = 'log_' ~ log.action ~ '_title' %}
                                                                            <tr>
                                                                                <td>{{ action|trans({}, 'log') }}</td>
                                                                                <td>{{ log.dateLog|date('date_format'|trans({}, 'platform')) }}</td>
                                                                                <td>
                                                                                    {% if validatedLog.url is not null %}
                                                                                        {{ validatedLog.url | raw }}
                                                                                    {% else %}
                                                                                        {% if log.resourceNode != null %}
                                                                                            <a href="{{ path('claro_resource_open', {'resourceType': log.resourceType.name, 'action': 'open', 'node': log.resourceNode.id})}}">{{ log.resourceNode.path }}</a>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>

                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                          </div>
                                          
                                        </div><!-- /.modal-content -->
                                      </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endfor %}
                            </div>
                            <hr/>
                        </div>
                    {% endfor %}

{#

                    {%  if userBadges is not empty %}
                    <ul class="nodes badge_list list-unstyled well">
                        {% for userBadge in userBadges %}
                            {% set badge = userBadge.badge %}
                            {% set dataImage = '<img class="badge_image_mini" src="' ~ asset(badge.webPath) ~ '" alt="' ~ badge.name ~ '" />' %}
                            <li class="node-thumbnail badge_container" data-image="{{ dataImage }}" data-id="{{ badge.id }}">
                                {% if userBadge.isExpired %}
                                    <span class="expired icon-exclamation-sign" data-title="Badge expiré"
                                           data-toggle="tooltip" data-placement="top" data-container="body"></span>
                                {% endif %}
                                <a href="{{ path('claro_profile_view_badge', {'slug': badge.slug}) }}" title="{{ badge.name }}" class="thumbnail">
                                    <img class="badge_image" src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}"/>
                                    <p class="badge_name">{{ badge.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul> 
                    {% else %}
                    {{ 'no_badges'|trans({'%url%' : path( 'solerni_static_page', { 'name': 'cms_faq' } )}, 'badge') | raw }}
                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.effect.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.effect-highlight.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.droppable.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/components/jquery.ui.draggable.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/plugin/confirm-bootstrap/confirm-bootstrap.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/badge/profile.js') }}'></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/slrn_badges.css') }}" screen="media" />
{% endblock %}
