{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}
{# WE DONT USE BREADCRUMBS
{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'home'|trans({}, 'tools'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}
#}
{# SPECIAL BODY CLASS TO ADD PADDING TO BODY WHEN FIXED SUBNAV #}
{% block bodyClasses %}subnavbar-fixed{% endblock %}

{% block section_content %}
    {# PAGE TITLE and EDITION BUTTON
    <div class="panel-heading relative">

    <div class="panel-heading relative">
        <h3 class="panel-title">
            {{ 'home'|trans({}, 'tools') }}

        </h3>

        {% if is_granted('ROLE_WS_MANAGER_' ~ workspace.getGuid()) %}
            <div class="float-right-top">
                <a class="btn btn-primary" href="{{ path( 'claro_display_workspace_home_tabs_with_config', { 'tabId': tabId, 'workspaceId': workspace.getId()}) }}">
                    <i id="switch-config-mode" class="icon-pencil"></i>
                </a>
            </div>
        {% endif %}
    </div>
    #}
    <section class="col-xs-9 col-md-9">
        <article class="js-chapter-container"></article>
        
        {# WORKSPACE TABS 
        <ul class="nav nav-tabs margin-bottom-md">
            {% for workspaceHomeTabConfig in workspaceHomeTabConfigs %}
                {% set workspaceHomeTab = workspaceHomeTabConfig.getHomeTab() %}
                <li class="hometab-element {% if workspaceHomeTab.getId() == tabId %} active {% endif %}">
                    <a href="{{
                        path(
                            'claro_display_workspace_home_tabs_without_config',
                            {
                                'tabId': workspaceHomeTab.getId(),
                                'workspaceId': workspace.getId()
                            }
                        )
                        }}"
                        class="hometab-link"
                    >
                        {{ workspaceHomeTab.getName() }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        #}

        {# RENDU DU COURS #}
        {%  block blockLesson %}{% endblock %}

        {# RENDU DES WIDGETS #}
        {% block homeTab %}{% endblock %}
    </section>
{% endblock %}
