<aside class="col-xs-3 col-md-3">
    <div class="col-xs-12 col-md-12 slrn-profile-widget">
        <div class="row dsk__avatar__wrapper">
            <div class="dsk__avatar">
            {% if userThumbnail.src  is not null %}
                <img src="{{ asset('thumbnails/') ~  userThumbnail.src }}" alt='{{ userThumbnail.alt }} {{ userFirstname }} {{ userLastname }}'/>
            {% endif %}
            </div>
            <div class="dsk__hello">Bonjour {{ userFirstname }} {{ userLastname }}</div>
            <div class="dsk__profil"><a class='dsk__profil__link' href='{{ urls.profil }}'>Voir Mon profil</a></div>
        </div>
        <div class="row dsk__menu__wrapper">
            {#<h3 class='dsk__menu__h3'>Tableau de bord</h3>#}
            <ul class='dsk__menu'>
                {% if renderingContext == 'dashboard' %}{% set dashboardIsActive = 'active ' %}{% endif %}
                <li class="dsk__menu__item"><span class="dsk__menu__span"><a class='{% if dashboardIsActive is defined %}{{ dashboardIsActive }}{% endif %}dsk__menu__link' href="{{ path( 'claro_desktop_open' ) }}">{{ 'dashboard' | trans({}, 'platform') }}</a></span></li>
                {% if renderingContext == 'badges' %}{% set badgesIsActive = 'active ' %}{% endif %}
                <li class="dsk__menu__item"><span class='dsk__menu__span'><a class='{% if badgesIsActive is defined %}{{ badgesIsActive }}{% endif %}dsk__menu__link' href="{{ path('claro_profile_view_badges') }}">Mes badges</a></span></li>
                {% if isRegistered == true %}
                {% if renderingContext == 'my_badges' %}{% set myBadgesIsActive = 'active ' %}{% endif %}
                    <li class="dsk__menu__item"><span class='dsk__menu__span'><a class='{% if myBadgesIsActive is defined %}{{ myBadgesIsActive }}{% endif %}dsk__menu__link' href="{{ path( 'claro_workspace_open_tool', { 'workspaceId': workspace.getId(), 'toolName': 'my_badges', 'myBadgesFilter': 'my_evals' } ) }}">Mes évaluations</a></span></li>
                {% endif %}
                {% if renderingContext == 'my_library' %}{% set myLibraryIsActive = 'active ' %}{% endif %}
                <li class="dsk__menu__item"><span class='dsk__menu__span'><a class='{% if myLibraryIsActive is defined %}{{ myLibraryIsActive }}{% endif %}dsk__menu__link' href="{{ urls.resource }}">{{ 'my_library' | trans({}, 'platform') }}</a></span></li>
                <li class="dsk__menu__item">
                   <span class='dsk__menu__span'>
                      <a class='dsk__menu__link' href="{{ urls.message }}">{% if nbMessages != 0 %} <span class='dsk__menu__span__right'>{{ nbMessages }}</span> {% endif %}
                       Ma messagerie</a>
                   </span>
                </li>
            </ul>
        </div>
    </div>
</aside>
