

        <div class='dsk__article__footer__block'>
            <h3 class='dsk__article__footer__block__h3'>Ma messagerie</h3>
            <div class='footer__content'>
                <p class='footer__text footer__big'>{% if lastMessage == null %}Pas de nouveau message{% else %}Dernier message :{% endif %}</p>
                <div class='ico__messagerie{% if lastMessage != null %}_actif{% endif %}'></div>
                <p class='footer__text'>
                {% if lastMessage != null %}
                   <a class='footer__text__link' href='{{ lastMessage.url }}'>
                        <strong>{{ lastMessage.title | textTruncate(3, '...') }} à {{ lastMessage.time}}</strong>
                   </a>
                   <br/>
                {% endif %}
                {% if lastMessage == null %}Retrouvez votre dernier message dans cet espace{% else %}{{ lastMessage.summary | textTruncate(7, '...') | raw }}</a>{% endif %}
                </p>
            </div>
            <span><a class='footer__link' href='{{ messagesBoxUrl }}'>Afficher la messagerie</a></span>
        </div>
        
        <div class='dsk__article__footer__block'>
            <h3 class='dsk__article__footer__block__h3'>Mes badges</h3>
            <div class='footer__content'>
                <p class='footer__text footer__big'>{% if lastBadge == null %}Pas de badges obtenu{% else %}Dernier badge obtenu :{% endif %}</p>
                {% if lastBadge != null %}
                    <div class='slrn-custom-badge'><img src="{{ asset(lastBadge.obj.webPath) }}" class="slrn-badge-img" /></div>
                {% else %}
                    <div class='ico__badge'></div>
                {% endif %}
                
                <p class='footer__text'>{#<a class='footer__text__link' href='{{ badgeUrl }}'> #}
                    {% if lastBadge != null %}
                    <a class='footer__text__link' href="{{ lastBadge.url }}">
                        <strong>{{ lastBadge.title }}</strong><br/>
                    </a>
                    {% endif %}
                    {% if lastBadge == null %}
                        Rejoignez un Mooc et tentez d'obtenir des badges !
                    {% else %}
                        {{ lastBadge.summary | textTruncate(10, '...') }}
                    {% endif %}
                </p>
            </div>
            <span><a class='footer__link' href="{{ path('claro_profile_view_badges') }}">Afficher tous mes badges</a></span>
        </div>
        <div class='dsk__article__footer__block'>
            <h3 class='dsk__article__footer__block__h3'>Mes évaluations</h3>
            <div class='footer__content'>
                <p class='footer__text footer__big'>{% if lastEval == null %}Evaluation{% else %}Evaluation :{% endif %}</p>
                <div class='ico__eval{% if lastEval != null %}_actif{% endif %}'></div>
                <p class='footer__text'>{% if lastEval != null %}
                    <a class='footer__text__link' href='{{ lastEval.url }}'>
                    <strong>{{ lastEval.title }}</strong><br/>
                    </a>
                {% endif %}
                {% if lastEval == null %}Aucune évaluation en cours pour le moment{% else %}{{ lastEval.summary | textTruncate(10, '...') | raw }}{% endif %}</p>
            </div>
            {% if isRegistered is defined and isRegistered == true %}
                <span><a class='footer__link' href="{{ path( 'solerni_user_evaluations', {} ) }}">Obtenir des badges</a></span>
            {% else %}
                <span><a class='footer__link' href="{{ path( 'solerni_static_page', { 'name': 'static_eval' } ) }}">{{ 'more_about_badges'|trans({}, 'platform') }}</a></span>
            {% endif %}
        </div>
