{# LIST OF TABS ON THE TOPNAVBAR #}
 <div class="slrn-content-container slrn-subnavbar-container navbar-fixed-top">
    <div class="container">
        {# Logo and title #}
        <div class="slrn-header-title">
            <div class="slrn-header-title__logo">
                {% if workspace.getMooc.getOwner %}
                    {% set owner = workspace.getMooc.getOwner %}
                    {% if owner.getLogoWebPath() %}
                        <a title="{{ 'see_all_owner_moocs'|trans({}, 'platform') }} {{ owner.getName() }}" href="{{ path('solerni_owner_catalogue', {'ownerId': owner.getId(), 'ownerName': owner.getName()|slugify()|raw }) }}">
                            <img class="header-logo-img" src="{{ image(owner.getLogoWebPath()).scaleResize(null,84) }}"  alt="{{ owner.getName() }}">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="slrn-header-title__name">
                <h1 class="slrn-header-mooc-name">
                    {{ workspace.getMooc.getTitle() }}
                </h1>
            </div>
        </div>
        <ul class="slrn-subnavbar">
        {# THE ACTUAL TABS #}
          {% if solerniTabs is defined %}
              {% for solerniTab in solerniTabs %}
                  <li class="slrn-subnavbar__item hometab-element active">
                      <a class="slrn-subnavbar__link hometab-link" title="{{ solerniTab.title }}" href="{{ solerniTab.url }}">
                          {{ solerniTab.name }}
                      </a>
                      {% if solerniTab.isSelected %}<span class="slrn-item__marqueur"></span>{% endif %}
                  </li>
              {% endfor %} 
        {% endif %}
        </ul>
        {# LINK TO PROFILE BADGES #}
        <a  title="{{ 'page_my_badges'|trans({}, 'platform') }}"
            href="{{ path( 'claro_workspace_open_tool', { 
                            'workspaceId': workspace.getId(), 
                            'toolName': 'my_badges' } ) }}" 
            class="slrn-subnavbar__subblock slrn-subnavbar__subblock--badges{% if isMyBadgesPage %} active{% endif %}">
                <span class="slrn-inner-text--badges">{{ 'competence_badges' | trans({}, 'platform') | raw }}</span>
        </a>
    </div>
</div>