{# LIST OF TABS ON THE TOPNAVBAR #}
 <div class="slrn-content-container slrn-subnavbar-container navbar-fixed-top">
    <div class="container">
       {# {% if _resource is defined %}
            {% set workspace = _resource.getResourceNode().getWorkspace() %}
        {% endif %} #}
        <ul class="slrn-subnavbar">
        {# THE ACTUAL TABS #}
          {% if solerniTabs is defined %}
              {% for solerniTab in solerniTabs %}
                  <li class="slrn-subnavbar__item hometab-element active">
                      <a class="slrn-subnavbar__link hometab-link" title="{{ solerniTab.title }}" href="{{ solerniTab.url }}">
                          {{ solerniTab.name }}
                      </a>
                      {% if isCurrentPage( solerniTab.url ) %}<span class="slrn-item__marqueur"></span>{% endif %}
                  </li>
              {% endfor %} 
        {% endif %}
        </ul>
        {# LINK TO PROFILE BADGES #}
        <a title="{{ 'page_my_badges'|trans({}, 'platform') }}" 
           href="{{ path( 'claro_workspace_open_tool', { 
                            'workspaceId': workspace.getId(), 
                            'toolName': 'my_badges' } ) }}" 
           class="slrn-subnavbar__subblock slrn-subnavbar__subblock--badges">{{ 'competence_badges' | trans({}, 'platform') }}
        </a>
    </div>
</div>