{# strongly markup dependant fragment #}
<strong>{{'solerni_team'|trans({}, 'mail')}}</strong><br/>
{{'solerni_slogan'|trans({}, 'mail')}}
<a href='https://www.solerni.org'>www.solerni.org</a><br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#eeeeef">
                                        <table border="0" width="100%">
                                            <tr>
                                                <td>
                                                    <font color="#999999">{{'mail_follow_us'|trans({}, 'mail')}}</font><br>
                                                    <a href="https://www.facebook.com/pages/Solerni/648508191861244?fref=ts"><img border="0" src="http://laborange.fr/sites/default/files/picto_facebook.png" alt="{{'mail_follow_us'|trans({}, 'mail')}} Facebook" /></a>
                                                    &nbsp;&nbsp;
                                                    <a href="https://twitter.com/SolerniOfficiel"><img border="0" src="http://laborange.fr/sites/default/files/picto_twitter.png" alt="{{'mail_follow_us'|trans({}, 'mail')}} Twitter" /></a>
                                                    &nbsp;&nbsp;
                                                    <a href="http://blog.solerni.org"><img border="0" src="http://laborange.fr/sites/default/files/picto_blog.png" alt="{{'mail_follow_us'|trans({}, 'mail')}} {{'mail_our'|trans({}, 'mail')}} blog" /></a>
                                                </td>
                                                <td align="right" valign="bottom">
                                                    <a href="http://www.orange.com"><img border="0" src="http://laborange.fr/sites/default/files/byorange.png" alt="Powered by Orange" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr bgcolor="#f8f7f7">
                                    <td>
                                        <font size="2">
                                        {{'mail_footer1'|trans({}, 'mail')}} <a href="mailto:{{user.getMail()}}">{{user.getMail()}}</a>
                                        {{'mail_footer2'|trans({}, 'mail')}}
                                        <a href="https://solerni.org">Solerni.org</a>.
                                        {{'mail_footer3'|trans({}, 'mail')}}
                                        <a href="mailto:contact@solerni.com">contact@solerni.com</a>.<br>
                                        {{'mail_footer4'|trans({}, 'mail')}} <a href="mailto:noreply@solerni.com">noreply@solerni.com</a> {{'mail_footer5'|trans({}, 'mail')}}.<br>
                                        </font>
                                    </td>
                                </tr>