{% extends 'ClarolineCoreBundle:Administration:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'mooc_categories_edit'|trans({}, 'platform') }}</h1>
        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_widget(edit_form._token) }}
        <table class="slrn-categories-list">
            <tr>
                <td class="slrn-bold"">{{ 'mooc_category_edit'|trans({}, 'platform') }}</td>
                <td>{{ form_widget(edit_form.name) }}</td>
                <td>{{ form_widget(edit_form.save) }}</td>
                <td><a class="btn btn-primary js-submit-button" href="#">{{ 'validate'|trans({}, 'platform') }}</a></td>
                <td><a class="btn btn-gris" href="{{ path('admin_parameters_mooc_categories') }}">{{ 'cancel'|trans({}, 'platform') }}</a>
            </tr>
        </table>
 
{% endblock %}
{% block javascripts %}
    {{ parent() }} 
    <script>
        $('.js-submit-button').on('click', function(event) {
            event.preventDefault();
            $('#claroline_corebundle_mooc_category_save').trigger('click');
        })
    </script>
    
{% endblock %}
