<footer id="footer" class="slrn-footer">
    <div class="container">
        <div class="col-md-4 text-cell">
            <img src="{{ asset('bundles/clarolinecore/images/logo_solerni_footer.png') }}" class="footer_logo" alt="" width="" height=""/>
            <p class="footer_title">{{'solerni_footer_title'|trans({}, 'platform')}}</p>
            <p>{{'solerni_footer_text'|trans({}, 'platform')}}</p>
        </div>
        <div class="col-md-2 footer-column ">
            <p class="footer_title">A propos de nous</p>
            <ul class="footer_cms_menu__column">
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_quoi' } ) }}">{{ 'about_solerni'|trans({}, 'platform') }}</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_partenaires' } ) }}">{{ 'partners'|trans({}, 'platform') }}</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_legal' } ) }}">{{ 'legals'|trans({}, 'platform') }}</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_cgu' } ) }}">{{ 'cgu'|trans({}, 'platform') }}</a></li>
            </ul>
        </div>
        <div class="col-md-2 footer-column ">
            <p class="footer_title">Support</p>
            <ul class="footer_cms_menu__column">
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">{{ 'faq'|trans({}, 'platform') }}</a></li>                
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'contact_show' ) }}">{{ 'contact'|trans({}, 'platform') }}</a></li>
            </ul>
        </div>
        <div class="col-md-2 footer-column ">
            <p class="footer_title">Suivez-nous</p>
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_facebook' } ) }}" class="footer_social_link" target="_blank">
                <span class="footer_social_link__icon social_facebook">{{ 'facebook'|trans({}, 'platform') }}</span><!--
                --><span class="footer_icon_text">{{ 'facebook'|trans({}, 'platform') }}</span>
            </a>
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_twitter' } ) }}" class="footer_social_link" target="_blank">
                <span class="footer_social_link__icon social_twitter">{{ 'twitter'|trans({}, 'platform') }}</span><!--
                --><span class="footer_icon_text">{{ 'twitter'|trans({}, 'platform') }}</span>
            </a>
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_blog' } ) }}" class="footer_social_link">
                <span class="footer_social_link__icon social_blog">{{ 'blog'|trans({}, 'platform') }}</span><!--
                --><span class="footer_icon_text">{{ 'blog'|trans({}, 'platform') }}</span>
            </a>
        </div>
        <div class="col-md-2 footer-column ">
            <p class="footer_title">International</p>
            <ul class="slrn-footer-languageblock">
                {% import 'ClarolineCoreBundle:Layout:topBarItems.html.twig' as topbar %}
                {% use 'ClarolineCoreBundle:Partials:dropdownLanguages.html.twig' %}
                {# list available languages #}
                {% set currentLocale, currentLocaleFull = app.request.getLocale(), 'none' %}
                {% for language in app.session.get('availableLanguages') %}
                    {% if currentLocale == language.shorthand %}
                        {% set currentLocaleFull = language.fullName %}
                    {% endif %}
                {% endfor %}
                {{ topbar.item({
                    'name': currentLocaleFull, 
                    'icon':'', 
                    'route':'', 
                    'dropdown': block('dropdownLangage'),
                    'css':'slrn-footer--language' 
                }) }}
            </ul>
        </div>
    </div>
    <div class="container">
        <hr class="slrn-hr slrn-hr--thin">
        <a target="_blank" href="http://www.orange.com">
            <div class="footer_powered">{{ 'powered_orange'|trans({}, 'platform') }}</div>
        </a>
    </div>
</footer>