<footer id="footer" class="slrn-footer">
    <div class="container">
        <a target="_blank" href="http://www.orange.com">
            <div class="footer_powered">powered by Orange</div>
        </a>
    
        <div class="footer_social">
            <span class="footer_social__text">Suivez nous sur</span>
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_facebook' } ) }}" class="footer_social_link" target="_blank">
                <span class="footer_social_link__tooltip">Facebook</span>
                <span class="footer_social_link__icon social_facebook">Facebook</span>
            </a>
            {# <a href="{{ path( 'solerni_static_page', { 'name': 'social_gplus' } ) }}" class="footer_social_link">
                <span class="footer_social_link__tooltip">Google+</span>
                <span class="footer_social_link__icon social_googlep">Google Plus</span>
            </a> #}
            {# <a href="{{ path( 'solerni_static_page', { 'name': 'social_linkedin' } ) }}" class="footer_social_link">
                <span class="footer_social_link__tooltip">Linkedin</span>
                <span class="footer_social_link__icon social_linkedin" style="display:block;">Linkedin</span>
            </a> #}
            {# <a href="{{ path( 'solerni_static_page', { 'name': 'social_rss' } ) }}" class="footer_social_link">
                <span class="footer_social_link__tooltip">Flux RSS</span>
                <span class="footer_social_link__icon social_rss">Rss</span>
            </a> #}
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_twitter' } ) }}" class="footer_social_link" target="_blank">
                <span class="footer_social_link__tooltip">Twitter</span>
                <span class="footer_social_link__icon social_twitter">Twitter</span>
            </a>
            <a href="{{ path( 'solerni_static_page', { 'name': 'social_blog' } ) }}" class="footer_social_link">
                <span class="footer_social_link__tooltip">Blog</span>
                <span class="footer_social_link__icon social_blog">Blog</span>
            </a>
        </div>
    
        <nav class="footer_cms_menu">
            <ul class="footer_cms_menu__column">
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_quoi' } ) }}">A propos de Solerni</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_partenaires' } ) }}">Partenaires</a></li>
            </ul>
            <ul class="footer_cms_menu__column">
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_legal' } ) }}">Mentions légales</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_cgu' } ) }}">CGU</a></li>
            </ul>
            <ul class="footer_cms_menu__column">
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="mailto:contact@solerni.com">Contact</a></li>
                <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">FAQ</a></li>
            </ul>
        </nav>
    </div>
</footer>