{% extends "ClarolineCoreBundle:Layout:topBarItems.html.twig" %}

{% block topBar %}
    <header id="top_bar" class="navbar navbar-inverse navbar-fixed-top slrn-navbar" role="navigation">
        <div class="container">
            <div class="rm-navbar-collapse rm-collapse slrn-top-header {% if app.user|default %}user-connected{% else %}user-anon{% endif %}">
                <a class="navbar-brand logo slrn-logo slrn-top-header__item" 
                    title="{{ 'solerni_homepage'|trans( {}, 'platform' ) }}" 
                    href="{{ path( 'solerni_static_page', { 'name': 'cms_url' } ) }}">
                </a>
                <ul class="nav navbar-nav slrn-topbar slrn-top-header__item">
                    {{ block('whatIsSolerni') }}
                </ul>
                <ul class="nav navbar-nav slrn-top-header__item slrn-top-right">
                   {% if isLogged %}
                        {{ block('rightSide') }}
                        {{ block('logged') }}
                    {% else %}
                        {{ block('login') }}
                        {{ block('language') }}
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
