{% extends "ClarolineCoreBundle:Layout:topBarItems.html.twig" %}

{% block topBar %}
    <header id="top_bar" class="navbar navbar-inverse navbar-fixed-top slrn-navbar" role="navigation">
        <div class="container">
             {# <div class="navbar-header">
                MENU BUTTON WHEN RESIZED 
                <button class="navbar-toggle" data-toggle="rm-collapse" data-target="rm-.navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>#}
            <div class="rm-navbar-collapse rm-collapse slrn-top-header">
                <a class="navbar-brand logo slrn-logo slrn-top-header__item" title="{{ 'solerni_homepage'|trans( {}, 'platform' ) }}" href="{{ path( 'solerni_static_page', { 'name': 'cms_url' } ) }}"></a>
                <ul class="nav navbar-nav slrn-topbar slrn-top-header__item">
                    {{ block('whatIsSolerni') }}
                </ul>
                <ul class="nav navbar-nav slrn-top-header__item slrn-top-right">
                   {% if isLogged %}
                        {{ block('rightSide') }}
                        {{ block('logged') }}
                    {% else %}
                        {{ block('login') }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
