{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{# TITLE #}
{% block title %}{% spaceless %}
    {% if _resource is defined %}
        {{ _resource.getResourceNode().getName() | striptags | raw }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}{% endblock %}

{# no subnavbar for personnal workspaces. We need to find out workspace #}
{% if workspace is not defined %}
    {% if mooc is defined %}
        {% set workspace = mooc.getWorkspace() %}
    {% endif %}
    {% if session is defined %}
        {% set workspace = session.getMooc().getWorkspace() %}
    {% endif %}
{% endif %}
{% block bodyClasses %}{% if workspace is defined and app.user.getPersonalWorkspace().getId() != workspace.getId() %}subnavbar-fixed{% endif %}{% endblock %}

{# WE DO NOT USE BREADCRUMB 
{% block breadcrumb %}
    
    <div id="resource-breadcrumb">
        {% if _resource is defined %}
            <div id="twig-resource-attributes"
                 data-resource-id="{{ _resource.getId() }}"
                 data-resource-name="{{ _resource.getName() }}"
            >
            </div>
            {% if not is_path_mode  %}
                <ul class="breadcrumb">
                    <li><a href="{{ path('claro_workspace_list') }}"><i class="icon-book"></i> {{ 'workspaces'|trans({}, 'platform') }}</a></li>
                    <li>
                        <a href="{{ path('claro_workspace_open_tool', {'toolName': 'home', 'workspaceId': _resource.getResourceNode().getWorkspace().getId() }) }}">
                            {{ _resource.getResourceNode().getWorkspace().getName() ~ ' (' ~ _resource.getResourceNode().getWorkspace().getCode() ~ ') ' }}
                        </a>
                    </li>
                    {% render controller("ClarolineCoreBundle:Resource:renderBreadcrumbs",
                        {'node': _resource.getResourceNode(), '_breadcrumbs': app.request.query.get('_breadcrumbs', {})})
                    %}
                    {% block resourceBreadcrumb %}
                        <li class="active">{{ _resource.getResourceNode().getName() }}</li>
                    {% endblock %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}#}


{% block breadcrumb %}
{% endblock %}


{# BLOCK SUBNAV BAR - WORKSPACE TABS #}
{# PSEUDO GENERATED #}
{% block subnavbar %}
    {% set params = {} %}
    {% if workspace is defined %}
        {% set params = params|merge({ 'workspaceId': workspace.getId() }) %}
    {% endif %}
    {% if _resource is defined and workspace is not defined %}
        {% set params = params|merge({ 'workspaceId': _resource.getResourceNode().getWorkspace().getId() }) %}
    {% endif %}
    {% if params and workspace is defined and app.user.getPersonalWorkspace().getId() != workspace.getId()  %}
        {% render controller( "ClarolineCoreBundle:Mooc\\Mooc:renderSolerniTabs", params ) %}
    {% endif %}
{% endblock %}

{# NAVIGATION RESSOURCES / ACTIONS SUR LA GAUCHE #}
{% block leftbar %}
    {% if _resource is defined %}
        {% set workspace = _resource.getResourceNode().getWorkspace() %}
    {% endif %}
    {% if not is_path_mode and workspace is defined %}
        {% if (is_granted('ROLE_WS_MANAGER_' ~ workspace.getGuid()) and app.user.personalWorkspace.getId() != workspace.getId()) or is_granted('ROLE_ADMIN') %}
            {% render controller("ClarolineCoreBundle:Workspace:renderToolList", {'workspaceId': workspace.getId(), '_breadcrumbs': app.request.query.get('_breadcrumbs', {})}) %}
        {% endif %}

    {% endif %}
{% endblock %}
{% block content %}
    {# MENU DE COMMANDE CONTEXTEL SUR LA GAUCHE #}
    <div class="visible-xs">
        {{ block("leftbar") }}
    </div>

    <div class="row slrn-content section-content">
        <div class="panel panel-default">
            {% block section_content %}{% endblock %}
        </div>
        {% block section_after_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if _resource is defined and workspace is not defined %}
        {% set workspace = _resource.getResourceNode().getWorkspace() %}
    {% endif %}
    {% if workspace is defined %}
        {% if not is_granted( 'home', workspace ) %}
            <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/inscription.js') }}'></script>
        {% endif %}
    {% endif %}
{% endblock %}
