<!doctype html>

<html lang="fr">
<head>
    <title>{{'sub_email_title'|trans('', 'mail')}}</title>
</head>
<body style="margin: 0px; font-family : Helvetica, Arial, Verdana;" bgcolor="#f8f7f7" link="#ff004f" alink="#ff004f" vlink="#ff004f" style="margin:0px;">

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr bgcolor="#4b667c">
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <a href="https://solerni.org"><img border="0" src="http://laborange.fr/sites/default/files/logo-beta.png" alt="Solerni" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">

                    <tr>
                        <td align="left" bgcolor="#ffffff">
                            <table border="0" width="100%" cellpadding="20" cellspacing="0">
                                <tr>
                                    <td>


{{'mail_hello'|trans({}, 'mail')}} {{user.getFirstName()}}, {{user.getLastName()}}<br/>
<br/>
{{'sub_email_body1'|trans({}, 'mail')}} "{{user.getMail()}}".<br/>
<br/>
{{'sub_email_body2'|trans({}, 'mail')}} :<br/>
<br/>
<a href='{{ url('claro_registration_validate_user', { 'mail': user.getMail(), 'key' : user.getKeyValidate} ) }}'>{{'sub_email_link'|trans({}, 'mail')}}</a><br/>
<br/>
{{'sub_email_copy'|trans({}, 'mail')}} :  {{ url('claro_registration_validate_user', { 'mail': user.getMail(), 'key' : user.getKeyValidate} ) }}<br/>
<br/>
<br/>
{% include('ClarolineCoreBundle:Partials:mailFooter.html.twig') %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
