<!doctype html>

<html lang="fr">
<head>
    <title>{{'sub_mooc_title'|trans({}, 'mail')}} {{ session.getMooc().getTitle() }}</title>
</head>
<body style="margin: 0px; font-family : Helvetica, Arial, Verdana;" bgcolor="#f8f7f7" link="#ff004f" alink="#ff004f" vlink="#ff004f" style="margin:0px;">

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr bgcolor="#4b667c">
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <a href="https://solerni.org"><img border="0" src="http://laborange.fr/sites/default/files/logo-beta.png" alt="Solerni" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">

                    <tr>
                        <td align="left" bgcolor="#ffffff">
                            <table border="0" width="100%" cellpadding="20" cellspacing="0">
                                <tr>
                                    <td>


{{'mail_hello'|trans({}, 'mail')}} {{user.getFirstName()}}, {{user.getLastName()}}<br/>
<br/>
{{'sub_mooc_confirm'|trans({}, 'mail')}} {{ session.getMooc().getTitle() }} {% if session.getStartDate() <= date() %}{{'sub_mooc_started'|trans({}, 'mail')}}{% else %}{{'sub_mooc_will_start'|trans({}, 'mail')}}{% endif %} {{ session.getStartDate()|date('d/m/Y') }}{% if session.getMooc().getDuration() is not empty %} {{'sub_mooc_duration'|trans({}, 'mail')}} {{ session.getMooc().getDuration() }} {{'sub_mooc_weeks'|trans({}, 'mail')}}{% endif %}.<br/>
<br/>
{{'sub_mooc_body'|trans({}, 'mail')}}
<br/>
<br/>
{% include('ClarolineCoreBundle:Partials:mailFooter.html.twig') %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
