<!doctype html>

<html lang="fr">
<head>
    <title>{{'sub_welcome_title'|trans({}, 'mail')}}</title>
</head>
<body style="margin: 0px; font-family : Helvetica, Arial, Verdana;" bgcolor="#f8f7f7" link="#ff004f" alink="#ff004f" vlink="#ff004f" style="margin:0px;">

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr bgcolor="#4b667c">
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <a href="https://solerni.org"><img border="0" src="http://laborange.fr/sites/default/files/logo-beta.png" alt="Solerni" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="620" align="center">
                <table border="0" width="620" cellpadding="0" cellspacing="0">

                    <tr>
                        <td align="left" bgcolor="#ffffff">
                            <table border="0" width="100%" cellpadding="20" cellspacing="0">
                                <tr>
                                    <td>


{{'mail_welcome'|trans({}, 'mail')}} {{user.getFirstName()}} {{user.getLastName()}},<br/>
<br/>
{{'sub_welcome_body1'|trans({}, 'mail')}}<br/>
<br/>
{{'sub_welcome_body2'|trans({}, 'mail')}}
<br/>
<br/>
<strong>{{'sub_welcome_body3'|trans({}, 'mail')}}</strong><br/>
<br/>
{{'sub_welcome_body4'|trans({}, 'mail')}}<br/>
<br/>
{{'sub_welcome_body5'|trans({}, 'mail')}} <a href='{{ url('solerni_catalogue') }}'>{{'sub_welcome_catalogue'|trans({}, 'mail')}}</a> {{'sub_welcome_body6'|trans({}, 'mail')}}<br/>
<br/>
<strong>{{'sub_welcome_body7'|trans({}, 'mail')}}</strong> <br/>
<br/>
{{'sub_welcome_body8'|trans({}, 'mail')}}<br/>
<br/>
<strong>{{'sub_welcome_body9'|trans({}, 'mail')}}</strong><br/>
<br/>
{{'sub_welcome_body10'|trans({}, 'mail')}} <a href='{{ url('claro_user_profile_edit',  { 'user': user.getId() } ) }}'>{{'sub_welcome_profile'|trans({}, 'mail')}}</a>.<br/>
<br/>
{{'sub_welcome_body11'|trans({}, 'mail')}}<br/>
<br/>
<br/>
{% include('ClarolineCoreBundle:Partials:mailFooter.html.twig') %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
