{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'contact' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block bodyClasses %}dsk{% endblock %}

{% block stylesheetsAdditionnals %}
    {# ADDING solerni contact STYLESHEETS #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/slrn_contact.css') }}" screen="media" />
{% endblock %}

{% block solerniHeaderImage %}
     <div class="slrn-header">
        <div class="container slrn-header_w">
            <div class="slrn-header__body">
               {# <img class="slrn-header__tagimage" src="{{ asset('bundles/clarolinecore/images/registration_title.png') }}" alt="" width="" height="" />
                <h1 class="slrn-header__content" >Développez autrement vos compétences en suivant à votre rythme des parcours d'apprentissage conviviaux et collaboratifs</h1>#}
            </div>
        </div>
        <img class="slrn-header__bgimage" src="{{ asset('bundles/clarolinecore/images/registration_header.jpg') }}" alt="Visuel se connecter" width="1171" height="221" />
    </div>
{% endblock %}

{% block content %}

<div class="col-xs-12 col-md-12">
    <div class="row">
    	<div class="col-xs-3 col-md-3 slrn-profile-widget cms_style">
			 <div class="row dsk__menu__wrapper">
	            <ul class='dsk__menu cms_style'>
	                <li class="dsk__menu__item">
	                    <span class="dsk__menu__span">
	                        <a class='dsk__menu__link cms_style' href="{{ path( 'solerni_static_page', { 'name': 'cms_partenaires' } ) }}">
	                           {{ 'Partenaires' | trans({}, 'platform') }}
	                        </a>
	                    </span>
	                </li>
	                <li class="dsk__menu__item">
	                    <span class="dsk__menu__span">
	                        <a class='dsk__menu__link cms_style' href="{{ path( 'solerni_static_page', { 'name': 'cms_legal' } ) }}">
	                           {{ 'Mentions légales' | trans({}, 'platform') }}
	                        </a>
	                    </span>
	                </li>
	                <li class="dsk__menu__item">
	                    <span class="dsk__menu__span">
	                        <a class='dsk__menu__link cms_style' href="{{ path( 'solerni_static_page', { 'name': 'cms_cgu' } ) }}">
	                           {{ 'CGU Charte' | trans({}, 'platform') }}
	                        </a>
	                    </span>
	                </li>
	                <li class="dsk__menu__item">
	                    <span class="dsk__menu__span">
	                        <a class='active dsk__menu__link cms_style' href="{{ path( 'contact_show' ) }}">
	                           {{ 'Contact' | trans({}, 'platform') }}
	                        </a>
	                    </span>
	                </li>
	                <li class="dsk__menu__item">
	                    <span class="dsk__menu__span">
	                        <a class='dsk__menu__link cms_style' href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">
	                           {{ 'FAQ' | trans({}, 'platform') }}
	                        </a>
	                    </span>
	                </li>
                </ul>
            </div>
    	</div>
    	<div class="col-xs-9 col-md-9">
			   	
		   	<div class="panel panel-default">
		        <div class="panel-heading">
		            <h2 class="slrn-content-main-title">{{ "Contactez_nous" | trans({}, "platform" )}}</h3>
		        </div>
		        {% if form is defined and form is not null %}
			        {% if has_role('ROLE_ADMIN') %}
			        	<a href='{{path('contact_edit_services')}}'>Edit list</a>
			        {% endif %}
		        {% endif %}
		        {% if message is defined and message is not null %}
		        	<p>{{ message }}</p>
		        {% endif %}
		        {% if form is defined and form is not null %}
			        <form role="form"
			              action="{{path('contact_show')}}"
			              method="post" {{ form_enctype(form) }}
			              id="generic-form"
			              class="form-horizontal nolabel has-validation-callback">
			            <div class="panel-body">
			                {{ form_widget(form) }}
			                {{ form_rest(form) }}
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-primary">{{ 'send'|trans({}, 'platform') }}</button>
			            </div>
			        </form>
			    {% endif %}
		    </div>

		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/message/show.js') }}' type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator/jquery.form-validator.js') }}"></script>
    <!--[if IE 9 ]>
        <script src="{{ asset('bundles/clarolinecore/js/jquery.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/clarolinecore/js/placeholder-init.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator-init.js') }}"></script>
    <script type="text/javascript">

$( document ).ready(function() {
    $('[required="required"]').addClass('slrn-required');
});

    </script>
{% endblock %}