{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ 'my_profile'|trans({}, 'platform') ~ ' - ' ~ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% block bodyClasses %}{% endblock %}

{% set canEdit = (app.user is not null and user.getId() == app.user.getId()) or is_granted('ROLE_ADMIN') %}

{% block content %}
    <!--{{ macros.flashBox() }}-->
    <div class="panel panel-default panel-user">
        <div class="panel-heading">
            <a href="{{ path('claro_profile_view') }}" class="black_link slrn-top-back-link">
                <i class="icon-chevron-left no_underline"> </i>{{ 'back_to_profile'|trans({}, 'platform') }}
            </a>
            <h1 class="slrn-content-main-title slrn-content-main-title--profile">
                {{ 'slrn_unsubscribe_me'|trans({}, 'platform') }}
            </h1>
        </div>
    </div>
    <div class="panel-body">
        <p class="slrn-bold">
            {{ 'slrn_solerni_unsubscribe_intro'|trans({}, 'platform') | raw }}
        </p>
        <p>
            {{ 'slrn_solerni_unsubscribe_text'|trans({}, 'platform') | raw }}
        </p>
    </div>
    <div class="form-group row slrn-form-group-button slrn-form-group-button--unsubscribe">
        <div class="col-md-9 col-xs-9">
            <form action="{{}} ">
                <button type="submit" class="btn btn-gris">{{ 'yes_unsubscribe_me'|trans({}, 'platform') }}</button>
                <a href="{{ path('claro_profile_view') }}" class="btn btn-primary" role="button">
                    {{ 'no_unsubscription' | trans({}, 'platform') }}
                </a>
            </form>
        </div>
    </div>
    
{% endblock %}
