{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
            <a href="{{ path('claro_profile_view') }}" class="black_link slrn-top-back-link">
                <i class="icon-chevron-left no_underline"> </i>{{ 'back_to_profile'|trans({}, 'platform') }}
            </a>
            <h1 class="slrn-content-main-title slrn-content-main-title--profile">
                {{ 'edit_password' | trans({}, 'platform') }}
            </h1>
            </div>
        <div>{{ macros.flashBox() }}</div>
            <form role="form" action="{{ path('claro_user_password_edit') }}"
                  method="post" {{ form_enctype(form) }}
                  id="profile_form"
                  class="slrn-profile-form">
                <div class="panel-body">
                    <div id="reset_pwd_form">
                        <div class="form-group row">
                            {{ form_label(form.password) }}
                            <div class="col-md-9">
                                {{ form_widget(form.password) }}
                            </div>
                            {% if form.password.vars.errors %}
                                <div class="slrn-errors__item"><span class="help-title">Mot de passe : </span>{{ form_errors( form.password ) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.plainPassword.first) }}
                            <div class="col-md-9 slrn-input-wrapper">
                                {{ form_widget(form.plainPassword.first) }}
                                <span class="icon-question-sign password-helper" data-html="true" data-title="{{ 'password_rules'|trans({}, 'platform')|raw }}" data-toggle="tooltip" data-placement="right"></span>
                            </div>
                            {% if form.plainPassword.first.vars.errors %}
                                <div class="slrn-errors__item"><span class="help-title">Mot de passe : </span>{{ form_errors( form.plainPassword.first ) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.plainPassword.second) }}
                            <div class="col-md-9">
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                            {% if form.plainPassword.second.vars.errors %}
                                <div class="slrn-errors__item"><span class="help-title">Mot de passe : </span>{{ form_errors( form.plainPassword.second ) }}</div>
                            {% endif %}
                        </div>
                        {% if form_errors( form) %}
                            <div class="form-group row">
                                {{ form_errors( form) }}
                            </div>
                        {% endif %}
                        {{ form_widget( form._token ) }}
                    </div>
                </div>
                <div class="slrn-errors">
                </div>
                <div class="form-group row slrn-form-group-button">
                    <div class="col-md-3 col-xs-3"></div>
                    <div class="col-md-9 col-xs-9">
                        <button type="submit" class="btn btn-primary">{{ 'edit'|trans({}, 'platform') }}</button>
                        <a href="{{ path('claro_profile_view') }}" class="btn btn-gris" role="button">
                            {{ 'cancel' | trans({}, 'platform') }}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
        {% javascripts debug=false filter='jsmin'
        'bundles/clarolinecore/js/form-validator/jquery.form-validator.js'
        'bundles/clarolinecore/js/form-validator/security.dev.js'
        'bundles/clarolinecore/js/form-validator-init.js'
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
    <!--[if lte (IE 9) ]>
        <script src="{{ asset('bundles/clarolinecore/js/jquery.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/clarolinecore/js/placeholder-init.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator-init.js') }}"></script>

{% endblock %}