{# this is the mes evaluations block #}
{% if pageContext is defined and pageContext == 'my_evals' %}
    {% set atLeastOne = false %}
    {% for badge in badges %}
        {% if badge.status == 3 %}
            {% set badgeEntity = badge.badge %}
            {% set buttonLink = badge.resource.url %}
            {# local variables #}
            {% set isOver = false %}
            {% set isNotStarted = false %}
            {% set userResult = false %}
            {% if badge.resource.status == 0 %}
            	{% set userResult = 'succeed' %}
            {% elseif badge.resource.status == 1 %}
            	{% set userResult = 'failed' %}
            {% elseif badge.resource.status == 2 %}
            	{% set isOver = true %}
            {% elseif badge.resource.status == 3 %}
            	{% set isNotStarted = true %}
            {% elseif badge.resource.status == 4 %}
            	{# In progress #}
            {% endif %}
            
            <li class="slrn-my_badges-list__item">
                <img src="{{ image(badgeEntity.webPath).zoomCrop(100,100) }}" 
                     alt="{{ badgeEntity.name }}" 
                     class="slrn-my_badges-list__item__image"
                     width="100"
                     height="100"
                >
                <section class="slrn-my_badges-list__body">
                    <h6 class="slrn-my_badges-list__item__title slrn-my_badges-list__item__title--my_evals">{{ 'badge'|trans({}, 'platform') }} &laquo; {{ badgeEntity.name }} &raquo;</h6>
                    <div class="slrn-my_badges-list__content slrn-my_badges-list__content--my_evals">
                        {{'start_date'|trans({}, 'solerni')}} : {{ badge.resource.resource.dropzone.getStartAllowDrop()|date('d/m/y') }}
                    </div>
                    <footer class="slrn-my_badges-list__footer">
                         {% if userResult == 'succeed' %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalSucceed'|trans({}, 'solerni')}}
                            </a>
                        {% elseif userResult == 'failed' %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalFailed'|trans({}, 'solerni')}}
                            </a>
                        {% elseif isOver == true %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalOver'|trans({}, 'solerni')}}
                            </a>
                        {% elseif isNotStarted == true %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalNotStarted'|trans({}, 'solerni')}}
                            </a>
                        {% elseif buttonLink %}
                            <a class="btn btn-primary pull-right" href="{{ buttonLink }}">
                                {{'continue_evaluation'|trans({}, 'solerni')}}
                            </a>
                        {% endif %}
                    </footer>
                </section>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    {# this is the badges de competences pages #}
    <ul class="panel-body my_badges slrn-my_badges-list">
    {% set remainingBadges = nbTotalBadges - (nbAcquiredBadges + nbFailedBadges) %}
        {% if remainingBadges > 1 %}{% set plural = 's' %}{% else %}{% set plural = '' %}{% endif %}
        <h5 class="slrn-bold slrn-my_badges_enumerate">{{'still_badges_to_go'|trans({'remainingBadges': remainingBadges, '%plural%': plural }, 'platform')}}</h5>
        {% for badge in badges %}
            {% set status = badge.status %}
            {% set badgeEntity = badge.badge %}
            {% if 2 == status %}
                    {% set buttonLink = path( 'claro_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badgeEntity.slug } ) %}
                    {% set issuedAt = badge.issuedDate %}
            {% elseif badge.resource.url is defined %}
                   	{% set buttonLink =  badge.resource.url %}
            {% endif %}
            {# local variables #}
            {% set isOver = false %}
            {% set isNotStarted = false %}
            {% set userResult = false %}
            {% if badge.resource.status == 0 %}
            	{% set userResult = 'succeed' %}
            {% elseif badge.resource.status == 1 %}
            	{% set userResult = 'failed' %}
            {% elseif badge.resource.status == 2 %}
            	{% set isOver = true %}
            {% elseif badge.resource.status == 3 %}
            	{% set isNotStarted = true %}
            {% elseif badge.resource.status == 4 %}
            	{# In progress #}
            {% endif %}
        
            <li class="slrn-my_badges-list__item">
                <img src="{{ asset(badgeEntity.webPath) }}" alt="{{ badgeEntity.name }}" class="slrn-my_badges-list__item__image" />
                <section class="slrn-my_badges-list__body">
                    <h6 class="slrn-my_badges-list__item__title">{{ 'badge'|trans({}, 'platform') }} &laquo; {{ badgeEntity.name }} &raquo;</h6>
                    {% if 2 == status %} 
                        <span class=" slrn-my_badges-list__body__status"><span class="slrn-bold">{{ 'gain_on'|trans({}, 'platform') }} :</span> {{ issuedAt|date('date_format'|trans({}, 'platform')) }}</span>
                    {% endif %}
                    {% if 3 == status %}
                         <span class=" slrn-my_badges-list__body__status"><span class="slrn-bold">{{ 'ongoing_badge'|trans({}, 'platform') }}</span></span>
                    {% endif %}
                    <article class="slrn-my_badges-list__content">{{ badgeEntity.criteria | raw }}</article>
                    <footer class="slrn-my_badges-list__footer">
                        <span class="slrn-gratuit-icon">{{ 'free_price'|trans({}, 'platform') }}</span>
                         {% if 2 == status %}
                            <a class="btn btn-primary pull-right" href="{{ buttonLink }}">
                                {{'my_badge_details'|trans({}, 'platform')}}
                            </a>
                         {% elseif userResult == 'succeed' %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalSucceed'|trans({}, 'solerni')}}
                            </a>
                        {% elseif userResult == 'failed' %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalFailed'|trans({}, 'solerni')}}
                            </a>
                        {% elseif isOver == true %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalOver'|trans({}, 'solerni')}}
                            </a>
                        {% elseif isNotStarted == true %}
                            <a class="btn btn-gris pull-right" href="{{ buttonLink }}">
                                {{'evalNotStarted'|trans({}, 'solerni')}}
                            </a>
                        {% elseif buttonLink %}
                            <a class="btn btn-primary pull-right" href="{{ buttonLink }}">
                                {% if 3 == status %} 
                                   {{'go_to_evaluation'|trans({}, 'platform')}}
                                {% endif %}
                                {% if 0 == status %} 
                                    {{'get_this_badge'|trans({}, 'platform')}}
                                {% endif %}
                            </a>
                        {% endif %}    
                    </footer>
                </section>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{#% if badgePager.haveToPaginate %}
<div>
    {{
        pagerfanta(
            badgePager,
            'twitter_bootstrap_translated',
            {
                'proximity' :    1,
                'routeName':     'claro_workspace_tool_my_badges',
                'routeParams':   {'workspaceId': workspace.id},
                'pageParameter': '[badgePage]'
            }
        )
    }}
</div>
{% endif %#}
