<ul class="slrn-analystics-subtabs">
    {% for tab, content in tabs %}
        <li class="slrn-analystics-subtabs__item{% if loop.first %} active{% endif %}" data-target-id="{{ tab }}">{{ tab|trans({}, 'platform') }}</li>
    {% endfor %}
        <script>
            var jqplots = [];
        </script>
</ul>
<hr class="slrn-hr">
{% if tabs|length == 0 %}
    {{ 'analytics_no_data'|trans({}, 'platform') }}
{% else %}
    {% for tab, content in tabs %}
        <div class="slrn-pseudo-tab{% if not loop.first %} hidden{% endif %}" id="{{ tab }}">
            {% for key, graph_datas in content %}
                <div class="slrn-statistic-wrapper">
                        {% set legend = key|split('_') %}
                        <legend>{{ legend[0]|trans({}, 'platform') }}</legend>
                        <div class="slrn-grey-block">{{ graph_datas.description|trans({}, 'platform') }}</div>
                    {% if 'table' == graph_datas.graph_type %}
                        <table class="slrn-analytics-table{% if graph_datas.table_values[0]|length == 2 %} slrn-analytics-table--2cols{% endif %}">
                            {% for row in graph_datas.table_values %}
                                {% if loop.index < 12 %}
                                <tr class="slrn-analytics-table__tr">
                                    {% if loop.first %}
                                        {% for cell in row %}
                                            <th class="slrn-analytics-table__th">{{ cell }}</td>
                                        {% endfor %}
                                    {% else %}
                                        {% for cell in row %}
                                             <td class="slrn-analytics-table__td">{{ cell }}</td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        {% if graph_datas.export is defined %}
                            <div class="slrn-analytics-export-wrapper slrn-analytics-export-wrapper--table">
                                <span class="slrn-analytics-export-title">Télécharger le rapport</span>
                                 {% for route, libelle in graph_datas.export %}
                                    <a class="btn btn-gris" href="{{ path(route, { 'workspace':workspace.getId(), 'nbDays':5 }) }}">
                                        {{ libelle|trans({}, 'platform') }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div id="{{ key }}" class="{{ graph_datas.graph_type }}"></div>
                        {% if 'line-chart' == graph_datas.graph_type %}
                            <div class="count_by_day_chart_legend">
                                <i class="icon-hand-up"></i> <em>{{ 'Draw an area on the graph to zoom, double-click to cancel'|trans({}, 'platform') }}</em>
                            </div>
                        {% endif %}
                        {% if graph_datas.export is defined %}
                            <div class="slrn-analytics-export-wrapper slrn-analytics-export-wrapper--graph">
                                <span class="slrn-analytics-export-title">Télécharger le rapport</span>
                                 {% for route, libelle in graph_datas.export %}
                                    <a class="btn btn-gris" href="{{ path(route, { 'workspace':workspace.getId(), 'nbDays':5 }) }}">
                                        {{ libelle|trans({}, 'platform') }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if graph_datas.key_data is defined %}
                            <div class="slrn-analytics-key-data">
                                <span class="slrn-analytics-export-title">{{'analytics_key_data'|trans({}, 'platform')}}</span>
                                {{ graph_datas.key_data|raw }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if 'line-chart' == graph_datas.graph_type %}
                    {% include 'ClarolineCoreBundle:Tool\\workspace\\analytics\\includes:analyticsLineChart.html.twig' %}
                {% endif %}
                {% if 'pie-chart' == graph_datas.graph_type %}
                    {% include 'ClarolineCoreBundle:Tool\\workspace\\analytics\\includes:analyticsPieChart.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function() {
        /* pseudo tabs */  
        var buttons = jQuery('.slrn-analystics-subtabs__item');
        var pseudoTabs = jQuery('.slrn-pseudo-tab');
        
        buttons.on( 'click', function() {
            var eventSource = jQuery(this);
            pseudoTabs.each( function() {
                if ( eventSource.data('target-id') == jQuery(this).attr('id') ) {
                    jQuery(this).removeClass('hidden');
                    // Todo : redraw targeted instead of all jqplots
                    for ( var i = 0; i<jqplots.length; i++ ) {
                        jqplots[i].replot();
                    }
                    buttons.removeClass('active');
                    eventSource.addClass('active');
                } else {
                    jQuery(this).addClass('hidden');
                }
            });
            
        });
    });
</script>

