{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% trans_default_domain "badge" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='bundles/clarolinecore/css/badge.css'
      "@ClarolineCoreBundle/Resources/views/Badge/less/badge.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}

{% block section_content %}
    <!--{{ macros.flashBox() }}-->
    {# left column #}
    {# different depending on context #}
    {% if pageContext is defined and pageContext == 'my_evals' %}

        {# PROFILE WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopAsideBlockWidget',
            { 'renderingContext': 'my_badges' }
        ) %}

    {% else %}
        <div class="col-xs-3 col-md-3">
            {# MOOC WIDGET #}
            {% render controller(
                'ClarolineCoreBundle:Mooc\\Mooc:getWorkspacePresentationWidget',
                { 'workspaceId': workspace.getId(), 'renderProgression': false }
            ) %}
            {# back button #}
            <div class='col-xs-12 col-md-12 slrn-widget'>
                <div class='row slrn-back bg-color-grey-2'>
                    <a href="{{ mooc_service.getBackMoocUrl( workspace, user ) }}" class='slrn-back__link'><i class="icon-chevron-left no_underline"></i>{{ 'returnMOOC' | trans({}, 'solerni') }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-9 col-md-9">
        {% if pageContext is defined and pageContext == 'my_evals' %}
            <h2 class="slrn-content-main-title"> {{'my_evals'|trans({}, 'platform') }}</h2>
        {% else %}
            <div class="panel-heading">
                <a class="slrn-read-faq pink_link" href="{{ path( 'solerni_static_page', { 'name': 'static_eval' } ) }}">{{ 'more_about_badges'|trans({}, 'platform') }}</a>
                <h2 class="slrn-content-main-title">
                    {{ 'competence_badges' | trans({}, 'platform') }}
                </h2>
            </div>
        {% endif %}
        <div class="slrn-my_badges-list-wrapper">
            {% block section_body %}{% endblock %}
        </div>
    </div>
{% endblock %}