{% extends 'ClarolineCoreBundle::base.html.twig' %}

{% block meta %}
    {{ parent() }}
    {% if config.getParameter('google_meta_tag') != '' %}
       {{ config.getParameter('google_meta_tag') | raw }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {# REMOVE CUSTOM THEMING AND USING claroline BOOSTRAP CSS INSTEAD #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/bootstrap.css') }}" screen="media" />

    {# ADDING SOLERNI STYLESHEETS #}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecore/css/solerni.css') }}" screen="media" />
    
    {# Font-Awesome CSS + Fonts #}
      {% stylesheets debug=false filter='lessphp, cssmin'  output='vendor/fortawesome/font-awesome/css/font-awesome.css'
    '../vendor/fortawesome/font-awesome/less/font-awesome.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}

    {% image debug=false output='vendor/fortawesome/font-awesome/font/FontAwesome.otf'
        '../vendor/fortawesome/font-awesome/font/FontAwesome.otf' %}
    {% endimage %}

    {% image debug=false output='vendor/fortawesome/font-awesome/font/fontawesome-webfont.eot'
        '../vendor/fortawesome/font-awesome/font/fontawesome-webfont.eot' %}
    {% endimage %}

    {% image debug=false output='vendor/fortawesome/font-awesome/font/fontawesome-webfont.svg'
        '../vendor/fortawesome/font-awesome/font/fontawesome-webfont.svg' %}
    {% endimage %}

    {% image debug=false output='vendor/fortawesome/font-awesome/font/fontawesome-webfont.ttf'
        '../vendor/fortawesome/font-awesome/font/fontawesome-webfont.ttf' %}
    {% endimage %}

    {% image debug=false output='vendor/fortawesome/font-awesome/font/fontawesome-webfont.woff'
        '../vendor/fortawesome/font-awesome/font/fontawesome-webfont.woff' %}
    {% endimage %}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/frontend/jquery/plugin/datepicker/css/datepicker3.css')}}'>
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/iframe/iframe.css')}}'>
{% endblock %}


{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('bundles/clarolinecore/images/favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/clarolinecore/images/apple-touch-icon.png')}}"/>
{% endblock %}

{% block layout %}
 <header id="top_bar" class="navbar navbar-inverse navbar-fixed-top slrn-navbar" role="navigation">
        <div class="container">
            <div class="rm-navbar-collapse rm-collapse slrn-top-header">
                <a class="navbar-brand logo slrn-logo slrn-top-header__item" title="{{ 'solerni_homepage'|trans( {}, 'platform' ) }}" href="{{ path( 'solerni_static_page', { 'name': 'cms_url' } ) }}"></a>
                <ul class="nav navbar-nav slrn-topbar slrn-top-header__item">
                    {{ block('whatIsSolerni') }}
                </ul>
                <ul class="nav navbar-nav slrn-top-header__item slrn-top-right">
                        {{ block('login') }}
                </ul>
            </div>
        </div>
    </header>
    {# BREADCRUMB & CONTENT #}
    <div class="container slrn-content-container" style="margin-top: 10%; font-size: 1.2em">
        <div class="row content">
            {# CONTENT #}
            <section id="text_content" class="col-xs-12 col-md-12">
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
   {# <div id="push"></div> #}
    <footer id="footer" class="slrn-footer">
        <div class="container">
            <a target="_blank" href="http://www.orange.com">
                <div class="footer_powered">{{ 'powered_orange'|trans({}, 'platform') }}</div>
            </a>

            <div class="footer_social">
                <span class="footer_social__text">{{ 'follow_us_on'|trans({}, 'platform') }}</span>
                <a href="{{ path( 'solerni_static_page', { 'name': 'social_facebook' } ) }}" class="footer_social_link" target="_blank">
                    <span class="footer_social_link__tooltip">{{ 'facebook'|trans({}, 'platform') }}</span>
                    <span class="footer_social_link__icon social_facebook">{{ 'facebook'|trans({}, 'platform') }}</span>
                </a>
                <a href="{{ path( 'solerni_static_page', { 'name': 'social_twitter' } ) }}" class="footer_social_link" target="_blank">
                    <span class="footer_social_link__tooltip">{{ 'twitter'|trans({}, 'platform') }}</span>
                    <span class="footer_social_link__icon social_twitter">{{ 'twitter'|trans({}, 'platform') }}</span>
                </a>
                <a href="{{ path( 'solerni_static_page', { 'name': 'social_blog' } ) }}" class="footer_social_link">
                    <span class="footer_social_link__tooltip">{{ 'blog'|trans({}, 'platform') }}</span>
                    <span class="footer_social_link__icon social_blog">{{ 'blog'|trans({}, 'platform') }}</span>
                </a>
            </div>
    
            <nav class="footer_cms_menu">
                <ul class="footer_cms_menu__column">
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_quoi' } ) }}">{{ 'about_solerni'|trans({}, 'platform') }}</a></li>
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_partenaires' } ) }}">{{ 'partners'|trans({}, 'platform') }}</a></li>
                </ul>
                <ul class="footer_cms_menu__column">
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_legal' } ) }}">{{ 'legals'|trans({}, 'platform') }}</a></li>
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_cgu' } ) }}">{{ 'cgu'|trans({}, 'platform') }}</a></li>
                </ul>
                <ul class="footer_cms_menu__column">
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'contact_show' ) }}">{{ 'contact'|trans({}, 'platform') }}</a></li>
                    <li class="footer_cms_menu_column__item"><a class="footer_cms_menu_column__link" href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">{{ 'faq'|trans({}, 'platform') }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}


