{# empty Twig template #}
{% set isRegistered = false %}
{% set sessionUsers = session.getUsers() %}
{% for sessionUser in sessionUsers %}
    {% set isRegistered = false %}
    {% if sessionUser.getId() == user.getId() %}
        {% set isRegistered = true %}
    {% endif %}
{% endfor %}

{% if session.getEndDate() < date() %}
    <a class="btn btn-gris disabled" href="{{ path( 'session_subscribe', { 'sessionId': session.getId() }) }}">Mooc terminé</a>
{% elseif session.getStartDate() > date() and session.getStartInscriptionDate() > date() %}
    <a class="btn btn-gris disabled" href="{{ path( 'session_subscribe', { 'sessionId': session.getId() }) }}">Disponible le {{ session.getStartDate()|date('d/m/Y') }}</a>
{% elseif isRegistered %}
    <a class="btn btn-blue" href="{{ path( 'session_subscribe', { 'sessionId': session.getId() }) }}">Accéder au mooc</a>
{% else %}
    <a class="btn btn-primary" href="{{ path( 'session_subscribe', { 'sessionId': session.getId() }) }}">S'inscrire au mooc</a>
{% endif %}