{# INSERT CORRECT BUTTON AND STATUS FOR ENCART MOOC #}

{# Special case if button is called outside of encart mooc #}
{# WE FIND OUT IF USER IS REGISTERED #}
{% if isRegistered is not defined %}
    {% set isRegistered = false %}
    {% if user != 'anon.' %}
        {% set sessionUsers = session.getUsers() %}
        {% for sessionUser in sessionUsers %}
            {% if sessionUser.getId() == user.getId() %}
                {% set isRegistered = true %}
            {% endif %}
        {% endfor %}
        {% set sessionGroups = session.getGroups() %}
        {% for sessionGroup in sessionGroups %}
        	{% for userGroup in user.getGroups() %}
	            {% if sessionGroup.getId() == userGroup.getId() %}
	                {% set isRegistered = true %}
	            {% endif %}
	        {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

{# session is over #}
{% if session.getEndDate() < date() %}
    <span class="mooc_status">
        {{ 'mooc_is_over'|trans({}, 'platform') }}
    </span>
    {% if isRegistered %}
        {# give access to mooc archives if the user was subscribed #}
        <a href="" class="link-btn-spacing pink_link">{{ 'mooc_archives'|trans({}, 'platform') }}</a>
    {% else %}
        {# if the mooc is redoable, ask for notification #}
        {% if session.getMooc().getPostEndAction() == 1 %}
            <a href="#" title="Non fonctionnel" class="btn btn-primary">{{ 'get_warned_next_session'|trans({}, 'platform') }}</a>
        {% else %}
            {# otherwise just display invisible button for spacing #}
            <div class="btn btn-gris disabled is-invisible">How Not To Be Seen</div> {# here for spacing #}
        {% endif %}
    {% endif %}
            
 {# session is not started yet #}    
{% elseif session.getStartDate() > date() and session.getStartInscriptionDate() > date() or session.getStartDate() > date() and isRegistered %}
    <a class="btn btn-gris disabled" href="#">Disponible le {{ session.getStartDate()|date('d/m/Y') }}</a>

{# user is not subscribed and date is over #}
{% elseif session.getEndInscriptionDate() < date() and not isRegistered %}
    <span class="mooc_status">
        {{ 'inscription_closed'|trans({}, 'platform') }}
    </span>
    <div class="btn btn-gris disabled is-invisible">How Not To Be Seen</div> {# here for spacing #}
    
{# inscription is open but session is full #}
{% elseif session.getMaxUsers() != 0 and session.getUsers()|length >= session.getMaxUsers() and not isRegistered %}
    <span class="mooc_status">
        {{ 'session_full'|trans({}, 'platform') }}
    </span>
    <div class="btn btn-gris disabled is-invisible">How Not To Be Seen</div> {# here for spacing #}
    
{# Inscription is open, user is registered #}
{% elseif isRegistered %}
    {# button go to mooc #}
    <a class="btn btn-blue" href="{{ path( 'mooc_view_session', { 
        'moocId': session.getMooc().getId(), 
        'moocName': session.getMooc().getAlias(), 
        'sessionId': session.getId(), 
        'word': 'apprendre'
    }) }}">{{ 'go_to_mooc'|trans({}, 'platform') }}</a>
{# not registered and registration is started, so subscribe #}
{% else %}
    <a class="btn btn-primary" href="{{ path( 'session_subscribe', { 'sessionId': session.getId() }) }}">
        {{ 'subscribe_to_mooc'|trans({}, 'platform') }}
    </a>
{% endif %}