
{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/clarolinecore/css/slrn_mooc.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ mooc.getTitle() }} {% endblock %}
    
{% block bodyClasses %}body-without-subnavbar{% endblock %}

{% block subnavbar %}
<section class="slrn-header slrn-header--mooc">
	<div class="row slrn-header__column">
		<div class="col-xs-3 col-md-3 slrn-header__logo">
            {% if mooc.getOwner() and mooc.getOwner().getLogoWebPath() %}
                <a href="{{ path('solerni_owner_catalogue', {'ownerId': mooc.getOwner().getId(), 'ownerName': mooc.getOwner().getName()|slugify()|raw }) }}">
                    <img src="{{ image(mooc.getOwner().getLogoWebPath()).scaleResize(null,85)}}"  alt="{{ mooc.getTitle() }}">
                </a>
            {% endif %}
		</div>
		<div class="col-xs-9 col-md-9 slrn-header__description">
			<h1>{{ mooc.getTitle() }}</h1>
            {% if session is defined and session is not null %}
                {% include('ClarolineCoreBundle:Mooc:moocSessionButton.html.twig') with { 'session': session } %}
            {% endif %}
		</div>
	</div>
</section>
{% endblock %}


{% block section_content %}
<section class="col-xs-12 col-md-12">
 <div class="col-xs-3 col-md-3 sider">
	<img class="slrn-widget__image" src="{{ image(mooc.getIllustrationWebPath()).zoomCrop( 234,165 ) }}" alt="{{ mooc.getTitle() }}"> 
 	<h2>Les essentiels</h2>
	<div class='sider__content'>
    	<ul class='essentiels'>
                {# DATE #}
                {% if   session is defined and 
                        session is not null and 
                        (session.getStartDate() is not empty or session.getEndDate() is not empty)
                %}
                    <li>
                        <i class='essentiels-icon essentiels__date'></i>
                        {% if session.getStartDate() is not empty %}
                            Date de début : <span class="slrn-bold">
                                {{ session.getStartDate() | localizeddate( "long", "none", app.request.locale|default('fr') )}}
                            </span>
                        {% endif %}
                        {% if session.getStartDate() is not empty or session.getEndDate() is not empty %}<br/>{% endif %}
                        {% if session.getEndDate() is not empty %}
                            Date de fin : <span class="slrn-bold">
                                {{session.getEndDate() | localizeddate( "long", "none", app.request.locale|default('fr') ) }}{% endif %}
                            </span>

                    </li>
                {% else%}
                    <li>
                        <i class='essentiels-icon essentiels__date'></i> Aucune date de prévue
                    </li>
                {% endif%}
                
			{# DUREE #}
			{% if mooc.getDuration() is not empty or mooc.getWeeklyTime() is not empty %}
                <li>
                    <i class='essentiels-icon essentiels__duree'></i>
                    {% if mooc.getDuration() is not empty %}
                        Durée : <span class="slrn-bold">{{mooc.getDuration() }} semaines</span>
                    {% endif %}
                    {% if mooc.getDuration() is not empty or mooc.getWeeklyTime() is not empty %}<br/>{% endif %}
                    {% if mooc.getWeeklyTime() is not empty %}Temps de travail hebdomadaire&nbsp;: 
                        <span class="slrn-bold">{{mooc.getWeeklyTime() | minsToHoursMins('%dh%dmin')}}{% endif %}</span>
                </li>
			{% endif%}

			{# COUT #}
			<li>
                <i class='essentiels-icon essentiels__tarif'></i> 
                Tarif :<span class="slrn-bold">
                    {% if mooc.getCost() is not defined or mooc.getCost() is empty or mooc.getCost() == 0 %}
                        Mooc gratuit
                    {% elseif mooc.isPublic() %}
                        Mooc gratuit<br>
                        Certification en option
                    {% else %}
                        Formation professionnelle
                    {% endif %}
                </span>
            </li>

			{# CERTIFICATION #}
            {% if mooc.getCertificationType() is not empty %}
                <li>
                    <i class='essentiels-icon essentiels__certif'></i>
                    Certification :<br>
                    <span class="slrn-bold">
                        {% for certification in mooc.getCertificationType() %}
                            {{ certification|trans({}, 'platform') }}<br>
                        {% endfor %}
                    </span>
                </li>
            {% endif %}

			{# LANGUAGE #}
			{% if mooc.getLanguage() is not empty and mooc.getLanguage() != 'empty_valu' %}
                <li>
                    <i class='essentiels-icon essentiels__lang'></i>
                    Langue du cours : <span class="slrn-bold">
                        {{ mooc.getLanguage()|trans({}, 'platform') }}
                    </span>
                </li>
			{% endif %}

			{# VIDEO #}
			{% if mooc.getHasVideo() is not empty %}
			<li>
				<i class='essentiels-icon essentiels__video'></i>
                Vidéos<br/>
				{% if mooc.getHasSubtitle() is not empty %}
					<span class="slrn-bold">Sous-Titrées
                        {% if mooc.getLanguage() is not empty %}
                            en {{mooc.getLanguage()|trans({}, 'platform')}}
                        {% endif %}
                    </span>
				{% endif %}
			</li>
			{% endif %}
            
            {# INSCRIPTIONS #}
			{% if session is defined and session is not null %}
			<li>
				<i class='essentiels-icon essentiels__subscription'></i>
                Inscriptions :<span class="slrn-bold">
                    
                    {% if mooc.isPublic() %}
                        {% if   session.getMaxUsers() is not defined or 
                                session.getMaxUsers() is empty      or
                                session.getMaxUsers() == 0 
                        %}
                            Ouvertes à tous
                        {% else %}
                            Limitées au{% if session.getMaxUsers() > 1 %}x{% endif %} {{ session.getMaxUsers() }} premier{% if session.getMaxUsers() > 1 %}s{% endif %} inscrit{% if session.getMaxUsers() > 1 %}s{% endif %}
                        {% endif %}
                        du {{ session.getStartInscriptionDate() | localizeddate( "long", "none", app.request.locale|default('fr') )}} 
                        au {{ session.getEndInscriptionDate() | localizeddate( "long", "none", app.request.locale|default('fr') )}}
                    {% else %}
                        Privées<br>
                        {% if   session.getMaxUsers() is defined    and
                                session.getMaxUsers() is empty      or
                                session.getMaxUsers() == 0
                        %}
                            Vous êtes autorisé à vous inscrire par <a href="{{ path('solerni_owner_catalogue', {'ownerId': mooc.getOwner().getId(), 'ownerName': mooc.getOwner().getName()|slugify()|raw }) }}">{{ mooc.getOwner().getName() }}</a>
                        {% else %}
                            Vous êtes autorisé à vous inscrire par <a href="{{ path('solerni_owner_catalogue', {'ownerId': mooc.getOwner().getId(), 'ownerName': mooc.getOwner().getName()|slugify()|raw }) }}">{{ mooc.getOwner().getName() }}</a> dans une session limitée au{% if session.getMaxUsers() > 1 %}x{% endif %} {{ session.getMaxUsers() }} premier{% if session.getMaxUsers() > 1 %}s{% endif %} inscrit{% if session.getMaxUsers() > 1 %}s{% endif %} 
                        {% endif %}
                        du {{ session.getStartInscriptionDate() | localizeddate( "long", "none", app.request.locale|default('fr') )}} 
                        au {{ session.getEndInscriptionDate() | localizeddate( "long", "none", app.request.locale|default('fr') )}}  
                    {% endif %}
                </span>
			</li>
			{% endif %}
		</ul>
		<center>
            {% if session is defined and session is not null %}
                <div class="row">{% include('ClarolineCoreBundle:Mooc:moocSessionButton.html.twig') with { 'session': session } %}</div>
            {% endif %}
        </center>
	</div>
	
	<h2>Pré-requis</h2>
	<div class='sider__content'>
	{% if mooc.getPrerequisites() is not empty %}
		{{ mooc.getPrerequisites() | raw }}
	{% else %}
		Aucun pré-requis
	{% endif %}
	</div>
	

	{% if mooc.getTeamDescription() is not empty %}
		<h2>Equipe pédagogique</h2>
		<div class='sider__content'>
			{{ mooc.getTeamDescription() | raw }}
		</div>
	{% endif %}

	{% if   mooc.getHasFacebookShare()  or
			mooc.getHasTweeterShare()   or
			mooc.getHasGplusShare()     or
			mooc.getHasLinkedinShare()  %}

		<h2>Partager</h2>
		<div class='sider__content content_center'>
			{% if mooc.getHasFacebookShare() %}
				<a href="#" class="sider_social_link" target="_blank">
	                <span class="sider_social_link__icon social_facebook">Facebook</span>
	            </a>
			{% endif %}

			{% if mooc.getHasTweeterShare() %}
				<a href="#" class="sider_social_link" target="_blank">
	                <span class="sider_social_link__icon social_twitter">Twitter</span>
	            </a>
			{% endif %}

			{% if mooc.getHasGplusShare() %}
				<a href="#" class="sider_social_link" target="_blank">
	                <span class="sider_social_link__icon social_googlep">Google+</span>
	            </a>
			{% endif %}

			{% if mooc.getHasLinkedinShare() %}
				<a href="#" class="sider_social_link" target="_blank">
	                <span class="sider_social_link__icon social_linkedin">Linkedin</span>
	            </a>
			{% endif %}
		</div>
	{% endif %}



 </div>

 <div class="col-xs-9 col-md-9 contentBlock">
 	{{ mooc.getAboutPageDescription() | raw }}
 </div>
 <div class="col-xs-9 col-md-9 contentBlock text-center">
    {% if session is defined and session is not null %}
        {% include('ClarolineCoreBundle:Mooc:moocSessionButton.html.twig') with { 'session': session } %}
    {% endif %}
 </div>
</section>



<div id="modal-registration-confirmation" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-body">
				<p>{{ "mooc_register_modal_title"|trans({}, "platform")|raw }}</p>
				<p>{{ "mooc_register_modal_mooc_name"|trans({"%moocName%":mooc.getTitle()}, "platform")|raw }}</p>
				<p>{{ "mooc_register_modal_mooc_date"|trans({"%moocDate%":session.getStartDate()|date('d/m')}, "platform")|raw }}</p>
				<p>{{ "mooc_register_modal_text"|trans({}, "platform")|raw }}</p>
				<p>{{ "mooc_register_modal_text2"|trans({}, "platform")|raw }}</p>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'ok'|trans({}, 'platform') }}"/>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/xxx.js') }}"></script> #}
    {% if app.request.query.all['showmodal'] is defined and app.request.query.all['showmodal'] %}
    <script type="text/javascript">
    	$('#modal-registration-confirmation').modal();
		window.history.replaceState("", "", window.location.pathname);
    </script>
    {% endif %}
{% endblock %}

