{% macro renderPager(search, pager) %}
    {% if search == '' %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {}
        )
    }}
    {% else %}
        {{
            pagerfanta(
                pager,
                'twitter_bootstrap_translated',
                {}
            )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}

{% if search is not empty %}
    <div>
        <small>
            * {{ 'results_for_search_on'|trans({}, 'platform') }}
            "{{ search }}"
        </small>
    </div>
{% endif %}

{% if users is empty %}
    {{ 'no_user'|trans({}, 'platform') }}
{% else %}
    {% set nbPages = users.getNbPages() %}
    <div id="contacts-list-page" class="contacts-list-page">

        <div class="table-responsive">
            <table class="table table-condensed table-solerni scrollable">
                <thead>
                    <tr>
                        <th style='width:20px'></th>
                        <th style='width:160px'>{{ 'first_name'|trans({}, 'platform') }}</th>
                        <th style='width:160px'>{{ 'last_name'|trans({}, 'platform') }}</th>
                        <th style='width:198px'>{{ 'pseudo'|trans({}, 'platform') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td style='width:20px'>
                                <input type="checkbox" class="contact-chk" contact-id="{{ user.getId() }}">
                                <input type="hidden" class="contact-label" value="{{ user.getUserName() }}">
                            </td>
                            <td style='width:160px'>{{ user.getFirstName() }}</td>
                            <td style='width:160px'>{{ user.getLastName() }}</td>
                            <td style='width:180px'>{{ user.getUserName() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        {% if nbPages > 1 %}
            {{ renderPager(search, users) }}
        {% endif %}

            <div class='counter_b counter0'>0 sélectionné</div>
            <div class='counter_b counter1 hide'>1 sélectionné</div>
            <div class='counter_b counterX hide'><span class='counterValue'></span> sélectionnés</div>
            <div id='contacts_selected_wrapper'>
                <ul id='contacts_selected'>
                  
                </ul>
            </div>
        </div>
    </div>
    <script>
    


        $( document ).ready(function() {
            max_height = ($(window).height() - 520);
            if(max_height < 200){
                max_height = 200;
            }
            max_height = max_height + 'px';

            $( '.scrollable tbody' ).css('max-height', max_height);

            recalcul();

        });

    </script>
{% endif %}
