{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block bodyClasses %}sign-in{% endblock %}

{% block solerniHeaderImage %}
     <div class="slrn-header">
        <div class="container slrn-header_w">
            <div class="slrn-header__body">
                <img class="slrn-header__tagimage" src="{{ asset('bundles/clarolinecore/images/header-inscription.png') }}" alt="" width="" height="" />
                <h1 class="slrn-header__content" >Développez autrement vos compétences en suivant à votre rythme des parcours d'apprentissage conviviaux et collaboratifs</h1>
            </div>
        </div>
        <img class="slrn-header__bgimage" src="{{ asset('bundles/clarolinecore/images/logging_header.jpg') }}" alt="Visuel se connecter" width="1171" height="221" />
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-xs-6 slrn-md-6 slrn-md-6--signin">
        <h1 class="slrn-section-title">{% block formTitle %}{% endblock %}</h1>
        {% if is_facebook_available() %}
            <button onclick="fb_login();" disabled="disabled" class="slrn-facebook-connect">
                Je me connecte avec Facebook
            </button>
            <script>
                function fb_login() {
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                }
                            });
                        }
                    });
                }
            </script>
            <div class="slrn-hr"/><span class="slrn-hr__inner">{{ 'ou'|trans({}, 'platform' )}}</span></div>
        {% endif %}
        {% block signinForm %}{% endblock %}
        <p class="small slrn-mention">* Tous les champs sont obligatoires</p>
    </div>
    <div class="col-md-1 cold-xd-1"></div>
    <div class="col-md-5 slrn-md-5 slrn-md-5--signin col-xs-5">
        {% block alternateText %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator/jquery.form-validator.js') }}"></script>
    <!--[if IE 9 ]>
        <script src="{{ asset('bundles/clarolinecore/js/jquery.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/clarolinecore/js/placeholder-init.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator-init.js') }}"></script>
     {% if is_facebook_available() %}
    <script>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '{{ get_facebook_app_id() }}',        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true,
                cookie     : true
            });
            $('.slrn-facebook-connect').removeAttr('disabled');
            $('#btn-logout').on('click', function() {
                FB.logout(function(respose){});
            });
        };
    </script>
    {% endif %}
{% endblock %}