{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block bodyClasses %}dsk{% endblock %}

{% block section_content %}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopAsideBlockWidget',
            { 'renderingContext': 'dashboard' }
        ) %}
<div class='col-xs-9 col-md-9'>
    <div class='dsk__article__mooc'>
        <div class='clearfix'></div>
        <h2 class="slrn-content-main-title">
            {{ 'dashboard'|trans({}, 'platform') }}
        </h2>

        <div class="dsk__my_moocs_header">
            {% set sessionNumber = 0 %}
            {% set sessionNumber = sessionNumber + app.user.getMoocSessions()|length %}
            {% if app.user.getGroups()|default %}
                {% for userGroup in app.user.getGroups() %}
                    {% set sessionNumber = sessionNumber + userGroup.getMoocSessions()|length %}
                {% endfor %}
            {% endif %}
            
            {% if sessionNumber > 0 %}
            
                <h3 class="slrn-content-secondary-title">{{ 'my_moocs'|trans({}, 'platform') }}</h3>
                <a class="slrn-link-right pink_link"href="{{ path( 'solerni_mes_moocs' ) }}">{{ 'display_all_my_moocs'|trans({}, 'platform') }}</a>
            
            {% else %}
                <h3 class="slrn-content-secondary-title">{{ 'recommandations'|trans({}, 'platform') }}</h3>
                <a class="slrn-link-right pink_link"href="{{ path( 'solerni_catalogue', {}) ~ '#?page=1&rpp=10&fs=type__claroline_core_mooc_moocsession&ss=ispub__true&afs=status,mcat,owner,duration,ispub&sb=false' }}">{{ 'display_catalogue'|trans({}, 'platform') }}</a>
            {% endif %}
        </div>
                
        {# change display if we have more than one active mooc #}
        {% if sessionNumber <= 1 %}
            {% set sessionComponentLayout = '2-column' %}
        {% else %}
            {% set sessionComponentLayout = 'slider-small' %}
        {% endif %}
        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:getUserSessionsList',
            {
                'sessionComponentLayout': sessionComponentLayout
            }
        ) %}
    </div>
     <div class='dsk__article__footer'>
        {# Inject message block widget #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopFooterBlockMessage',
            {
                'target':       'message',
                'mainTitle':    'mailsystem'|trans({}, 'platform'),
                'statusText':   'no_message'|trans({}, 'platform'),
                'iconClass':    'ico__messagerie',
                'subText':      'dashboard_widget_message_default_text'|trans({}, 'platform'),   
                'footerUrl':    path('claro_message_list_received', {} ),
                'footerText':   'show_mailsystem'|trans({}, 'platform')
            }
        ) %}
         
        {# Inject badges block widget #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopFooterBlockMessage',
            {
                'target':           'badges',
                'mainTitle':        'my_badges'|trans({}, 'platform'),
                'statusText':       'no_badges'|trans({}, 'platform'),
                'iconClass':        'ico__badge',
                'subText':          'dashboard_widget_badges_default_text'|trans({}, 'platform'),   
                'footerUrl':        path('claro_profile_view_badges', {} ),
                'footerText':       'show_badges'|trans({}, 'platform')
            }
        ) %}
         
        {# Inject evaluations block widget #}
        {% render controller(
            'ClarolineCoreBundle:Solerni:getDesktopFooterBlockMessage',
            {
                'target':       'evals',
                'mainTitle':    'my_evals'|trans({}, 'platform'),
                'statusText':   'no_evals'|trans({}, 'platform'),
                'iconClass':    'ico__eval',
                'subText':      'dashboard_widget_evals_default_text'|trans({}, 'platform'), 
                'footerUrl':    path( 'solerni_static_page', { 'name': 'cms_faq' } ),
                'footerText':   'page_my_badges'|trans({}, 'platform')
            }
        ) %}
     </div>
</div>
<div class='clearfix'></div>
{% endblock %}
