{% extends 'ClarolineCoreBundle:Sign:sign.html.twig' %}

{% block title %}{{ 'login' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}{# translation #}

{% block formTitle %}J'ai déjà un compte, je me connecte{% endblock %}

{% block signinForm %}
    <div class='content-element panel panel-default'>
        <div class="panel-heading">
             <h2 class="panel-title slrn-section-title slrn-section-title--sub">{{ 'connect_with_mail'|trans({}, 'platform') }} *</h2>
        </div>
        <form role="form"  id="login-form" class="form-horizontal" action="{{ path('claro_security_login_check') }}" method="post">
            <div class="panel-body">
                    <label class="hide" for="username">{{ 'admin_form_mail'|trans({}, 'platform') }}</label>
                    <input type="email" required="required" class="slrn-input form-control" id="username" name="_username" placeholder="{{ 'user_form_mail'|trans({}, 'platform') }}" tabindex="1" data-validation="email" data-validation-error-msg="{{ 'mail_invalid'|trans({}, 'platform') }}" />
                    <label  class="hide" for="password">{{ 'password'|trans({}, 'platform') }}</label>
                    <input type="password" class="slrn-input form-control" id="password" name="_password" placeholder="{{ 'password'|trans({}, 'platform') }}" tabindex="2" data-validation="required" data-validation-error-msg="{{ 'must_use_password'|trans({}, 'platform') }}">
                    <div class="slrn-checkbox-w">
                        <input class="slrn-input slrn-checkbox" type="checkbox" id="remember_me" name="_remember_me" />
                        <label for="remember_me">{{ 'keep_me_logged_in'|trans({}, 'platform') }}</label>
                    </div>
            </div>
             <div class="panel-body slrn-errors">
                {{ macros.flashBox() }}
                {% if error %}
                    <span>{{ 'login_failure'|trans({}, 'platform') }}</span>
                {% endif %}
             </div>
            <div class="panel-footer">
                <button id="js-login-submit" type="submit" class="btn btn-primary" tabindex="3">{{ 'btn_connect_message'|trans({}, 'platform') }}</button>
            </div>
        </form>
        <small><a class="slrn-forgot-password--link" href ="{{ path('claro_security_forgot_password')}}" tabindex="4">{{ 'forgot_password'|trans({}, 'platform') }}</a></small>
    </div>

 {% if is_facebook_available() %}
    <script>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '{{ get_facebook_app_id() }}',        // App ID from the app dashboard
                status     : true,                                 // Check Facebook Login status
                xfbml      : true,
                cookie     : true
            });
            $('.slrn-facebook-connect').removeAttr('disabled');
            $('#btn-logout').on('click', function() {
                FB.logout(function(respose){});
            });
        };
    </script>
    {% endif %}


{% endblock %}
    
{% block alternateText %}
    <h2 class="slrn-section-title">Je n'ai pas de compte, je m'inscris</h2>
    <p>Vous n'avez pas de compte Solerni ?<br />
    Créez un compte à partir de votre email ou inscrivez-vous avec Facebook</p>
    <p><a class="slrn-link" href="{{ path('claro_registration_register_user') }}">Je m'inscris</a></p>
{% endblock %}
