{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% if form is defined %}
    {% form_theme form "ClarolineCoreBundle::form_theme_vertical.html.twig" %}
{% endif %}

{% block title %}{{ 'reset_password' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block content %}
     <div class="col-md-4 col-md-offset-4">
		{% if error is defined and error %}
            <div id="login-error" class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% if form is defined and form is not empty %}
            <div class="panel panel-default" >
                <form role="form" action="{{ path('claro_security_new_password', {'hash': hash}) }}" method="post" {{ form_enctype(form) }}>
                    <div class="panel-body">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
     </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator/jquery.form-validator.js') }}"></script>
    <!--[if IE 9 ]>
        <script src="{{ asset('bundles/clarolinecore/js/jquery.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/clarolinecore/js/placeholder-init.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/clarolinecore/js/form-validator-init.js') }}"></script>
  
{% endblock %}