{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% if form is defined %}
    {% form_theme form "ClarolineCoreBundle::form_theme_vertical.html.twig" %}
{% endif %}

{% block title %}{{ 'reset_password' | trans({}, 'platform') ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block content %}
     <div class="col-md-6 col-md-offset-3">
		{% if error is defined and error %}
            <div id="login-error" class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% if form is defined and form is not empty %}
            <div class="panel panel-default" >
                <h1 class="slrn-content-main-title slrn-content-main-title--profile">{{'reinit_password'|trans({}, 'platform')}}</h1>
                <form role="form" action="{{ path('claro_security_new_password', {'hash': hash}) }}" method="post" {{ form_enctype(form) }}>
                    <div class="panel-body slrn-reset-password">
                        {% set errorClasses = 'slrn-input slrn-input--error error' %}
                        {% set RegularClasses = 'slrn-input' %}
                        {# Password First #}
                        <div class="slrn-input-wrapper">
                            {% if form.plainPassword.first.vars.errors %}
                                {% set plainPasswordFirstClasses = errorClasses %}
                            {% else %}
                                    {% set plainPasswordFirstClasses = RegularClasses %}
                            {% endif %}
                            <!--{{ form_label( form.plainPassword.first, label|default(null), { 'label_attr' : { 'class': 'hide' } } ) }}-->
                            {{ form_widget( form.plainPassword.first, {'attr': {
                                                                    'placeholder' : 'user_form_plainPassword_first'|trans({}, 'platform'),
                                                                    'class' : plainPasswordFirstClasses,
                                                                    'data-validation': 'strength',
                                                                    'data-validation-strength': '3',
                                                                    'data-name': 'pass_confirmation',
                                                                    'data-validation-error-msg' : 'user_rules_password'|trans({}, 'platform')
                            } }) }}
                            <span class="icon-question-sign password-helper" data-html="true" data-title="{{'password_rules'|trans({}, 'platform')}}" data-toggle="tooltip" data-placement="right"></span>
                            <div class="strength-meter-wrapper"><span class="strength-meter"></span><span class="strength-out"></span></div>
                            {# Display error #}
                            {% if form.plainPassword.first.vars.errors %}
                                <div class="slrn-errors__item"><span class="help-title">Mot de passe : </span>{{ form_errors( form.plainPassword.first ) }}</div>
                            {% endif %}
                        </div>
                        {# Password Second #}
                        <div class="slrn-input-wrapper">
                            {% if form.plainPassword.second.vars.errors %}
                                {% set plainPasswordSecondClasses = 'slrn-input slrn-input--error' %}
                            {% else %}
                                {% set plainPasswordSecondClasses = 'slrn-input' %}
                            {% endif %}
                                <!--{{ form_label( form.plainPassword.second, label|default(null), { 'label_attr' : { 'class': 'hide' } } ) }}-->
                                {{ form_widget( form.plainPassword.second, {'attr': {
                                                                    'placeholder' : 'user_form_plainPassword_second'|trans({}, 'platform'),
                                                                    'class' : plainPasswordSecondClasses,
                                                                    'data-validation': 'confirmation',
                                                                    'data-name': 'pass',
                                                                    'data-validation-error-msg' : 'password_mismatch'|trans({}, 'platform')
                            } }) }}
                        </div>
                        {{ form_rest(form) }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
     </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% javascripts debug=false filter='jsmin'
        'bundles/clarolinecore/js/form-validator/jquery.form-validator.js'
        'bundles/clarolinecore/js/form-validator/security.dev.js'
        'bundles/clarolinecore/js/form-validator-init.js'
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}